*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors */
  --clr-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-darker-cyan: hsl(179, 100%, 13%);
  --clr-text-main: hsla(0, 0%, 100%, 0.75);
  --clr-util: hsl(0, 0%, 95%);
  /* ---------------------------------------------------- */
  /* Font Sizes */
  --fs-main: 0.9375rem;

  /* -------------------------- */

  /* Font Families */
  --ff-main: "Lexend Deca", sans-serif;
  --ff-accent: "Big Shoulders Display", cursive;
  /* ---------------------------------------------- */

  /* Font Weights */
  --fw-main: 400;
  --fw-accent: 700;
  /* ------------------- */
}

body {
  color: var(--clr-text-main);
  font-size: var(--fs-main);
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--ff-main);
}

a:link,
a:visited {
  text-decoration: none;
}

.card__heading {
  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--clr-util);
}

.card__paragraph {
  max-width: 23ch;
}

.card__image-container img {
  width: 68px;
  height: 40px;
}

.container {
  min-height: 100vh;
  display: grid;
  place-content: center;

  background-color: var(--clr-util);
  overflow: hidden;
}

.cards {
  display: flex;
}

.card1 {
  background-color: var(--clr-orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card2 {
  background-color: var(--clr-dark-cyan);
}

.card3 {
  background-color: var(--clr-darker-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card {
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5em;
}

.card__link {
  padding: 0.65em 1.75em;
  justify-self: start;
  background-color: #fff;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 4rem;
}

.card__link:hover {
  color: var(--clr-util);
  background-color: transparent;
  border: 1px solid var(--clr-util);
  transition: background 0.25s ease;
}

.card1__link {
  color: var(--clr-orange);
}

.card2__link {
  color: var(--clr-dark-cyan);
}

.card3__link {
  color: var(--clr-darker-cyan);
}

@media (max-width: 768px) {
  .container {
    margin-block: 5rem;
  }

  .cards {
    flex-direction: column;
  }

  .card1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .card3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
  }

  .card__link {
    margin-top: 0.5rem;
  }

  .card__paragraph {
    max-width: 25ch;
  }
}
